:root {
    --ivory: #F8F5F0;
    --white: #FFFFFF;

    --navy: #17202A;
    --coral: #E76F51;
    --gold: #D9A441;

    --sage: #EAF0EC;
    --peach: #F5DED5;

    --text: #17202A;
    --muted: #687076;

    --border: #DDE1DE;

    --max-width: 1400px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: "Manrope", sans-serif;
    background: var(--ivory);
    color: var(--text);
    overflow-x: hidden;
}


img {
    display: block;
    width: 100%;
}


a {
    color: inherit;
    text-decoration: none;
}


button,
input,
textarea,
select {
    font-family: inherit;
}


.section {
    padding: 120px 7vw;
}


.section-label {
    margin-bottom: 55px;
    color: var(--coral);
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.text-link {
    display: inline-block;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--coral);

    font-size: 11px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition: .3s ease;
}


.text-link:hover {
    color: var(--coral);
}


.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    padding: 15px 24px;

    border-radius: 100px;

    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition: .3s ease;
}


.btn-primary {
    background: var(--coral);
    color: white;
}


.btn-primary:hover {
    background: #d95e40;
    transform: translateY(-3px);
}


.btn-outline {
    border: 1px solid rgba(255,255,255,.6);
    color: white;
}


.btn-outline:hover {
    background: white;
    color: var(--navy);
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 88px;

    padding: 0 7vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1000;

    color: white;

    transition: .35s ease;
}


.navbar.scrolled {
    height: 72px;

    color: var(--navy);

    background: rgba(248,245,240,.94);

    backdrop-filter: blur(16px);

    box-shadow: 0 8px 30px rgba(23,32,42,.06);
}


.brand {
    display: flex;
    flex-direction: column;
    line-height: 1;
}



.main-nav {
    display: flex;
    align-items: center;
}
.brand-logo{
    width: 90px;
    height: auto;
    display:block;
    object-fit: contain;
}

.main-nav a {
    position: relative;

    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .8px;
}


.main-nav a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -7px;

    width: 0;
    height: 2px;

    background: var(--coral);

    transition: .3s;
}


.main-nav a:hover::after {
    width: 100%;
}


.nav-cta {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 11px 18px;

    border: 1px solid currentColor;
    border-radius: 100px;

    font-size: 9px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.nav-cta:hover {
    background: var(--coral);
    border-color: var(--coral);
    color: white;
}


.menu-toggle {
    display: none;

    border: 0;
    background: transparent;

    color: inherit;
    font-size: 24px;

    cursor: pointer;
}


footer {
    padding: 75px 7vw 25px;

    background: var(--navy);
    color: white;
}


.footer-top {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 60px;

    padding-bottom: 65px;
}


.footer-brand {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -1px;
}


.footer-top p {
    margin-top: 8px;

    color: rgba(255,255,255,.5);

    font-size: 11px;
}


.footer-nav,
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.footer-nav a,
.footer-contact a {
    color: rgba(255,255,255,.65);
    font-size: 11px;
}


.footer-nav a:hover,
.footer-contact a:hover {
    color: var(--peach);
}


.footer-contact > span {
    margin-bottom: 5px;

    color: var(--gold);

    font-size: 9px;
    font-weight: 800;
    letter-spacing: 2px;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;

    padding-top: 20px;

    border-top: 1px solid rgba(255,255,255,.12);

    color: rgba(255,255,255,.4);

    font-size: 9px;
}


@media (max-width: 900px) {

    .main-nav,
    .nav-cta {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .footer-top {
        grid-template-columns: 1fr;
    }

}


@media (max-width: 600px) {

    .section {
        padding: 85px 6%;
    }

    .navbar {
        padding: 0 6%;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }

}